ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
}

li a ,h3,h6{
    text-align: center;
    justify-content: center;

}
  
li a:hover:not(.active) {
    background-color:black;
}

.menu{
    background-color: orange;
}

.body{
    /* background-image: url(./Images/backgroundimage.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    /* width: 800px; */
    position: relative;
    background-position: center;
}

.body img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    /* background: rgb(1, 32, 46); */
    /* mix-blend-mode: darken; */
    /* mix-blend-mode: overlay; */
}

.Container-login{
    /* float: center; */
    text-align:left;
    padding-top: 1%;
    padding-bottom: 2%;
    position: absolute;
    top: 15%;
    left: 35%;
    width: 30%;
    height: 80%;
    background-color: black;
    opacity: 0.8;
    color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

#container-sign h3{
    color: white;
    text-align: left;
}

.container-form{
    padding-left: 20%;
    padding-right: 8%;
}

.container-form img{
    height: 5%;
    width: 5%;
}

.help{
    color: white;
    list-style: none;
    text-decoration: none;
}

.facebook{
    padding-top: 2%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 21px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  /* Set a style for all buttons */
button {
    background-color:red;
    color: white;
    /* padding: 0px 20px; */
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 100px;
}

.psw{
      float: right
}

input[type=text]:hover,[type=password]:hover{
    box-shadow: inset 0 0 0 30px #fa9017;
    transition: ease;
}
button{
    width: 80%;
    height: 50px;
    border-radius: 8px;
    padding: 14px 20px;
    margin-top: 4px;
    margin-left: 15px;
    background: orange;
    font-size: 18px;
	border: none;
    transform: 0.5s ease;
}
button:hover {
	cursor: pointer;
    color: rgb(255, 255, 255);
    transition: ease-in-out;
    box-shadow: inset 0 0 50px rgb(252, 136, 5);
    transform: 0.5s ease;
}


.checkbox{
    font-family: cursive;
    font-size: 16px;
    color: #fa9017;
    display: block;
    position: relative;
    padding-left: 26px;
    padding-top: 5px;
    cursor: pointer;
    text-align: left;
}
a {
    text-decoration: none;
    color: rgb(247, 160, 0);
    
}
a:hover {
    text-decoration: underline;
    transition: ease-in-out;
    color: rgb(121, 72, 0);
}
a:active{
    color: rgba(0, 0, 0, 0.7);
}
textarea {
    outline: none;
    border: none;
}
  
input[type=submit]{
    background:orange;
    color: rgb(17, 16, 16);
    border: none;
    width: 45%;
    height: 40px;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 15px;  
    cursor: pointer;
    justify-content: center;
    text-align: center;
}
input[type=submit]:hover{
    background: rgb(255, 136, 0);
    color: white;
}