.navbar{
    background-color:orange;
}

.navbar-nav{
    align-content: left;
    align-items: left;
}

.nav-link{
    margin-right: 1em !important;
}

.navbar-brand{
    margin-left: 1%;
}

.navbar-brand img{
    width: 20%;
    height: 20%;
}

.nav-link h1{
    text-align: left;
    color: black;
}

.container{
    /* background-image: url(./Images/backgroundimage.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    /* width: 800px; */
    position: relative;
    background-position: center;
}

.container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    /* background: rgb(1, 32, 46); */
    /* mix-blend-mode: darken; */
    /* mix-blend-mode: overlay; */
}

.Container-login{
    /* float: center; */
    text-align:justify;
    padding-top: 1%;
    padding-bottom: 2%;
    position: absolute;
    top: 15%;
    left: 35%;
    width: 30%;
    height: 85%;
    background-color: black;
    opacity: 0.8;
    color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

#container-sign{
    color: white;
}

.container-form{
    padding-left: 10%;
    padding-right: 10%;
}

.container-form img{
    height: 5%;
    width: 5%;
}

.help{
    color: white;
    list-style: none;
    text-decoration: none;
}

.facebook{
    padding-top: 2%;
}

input[type=text], input[type=password] {
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4%;
}
  
  /* Set a style for all buttons */
button {
    background-color:red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.psw{
      float: right
}

input[type=text]:hover,[type=password]:hover{
    box-shadow: inset 0 0 0 30px #fa901798;
    transition: ease;
}
button{
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 50px;
    border-radius: 8px;
    padding: 14px 20px;
    background: orange;
    font-size: 18px;
	border: none;
    transform: 0.5s ease;
}
button:hover {
	cursor: pointer;
    color: rgb(255, 255, 255);
    transition: ease-in-out;
    box-shadow: inset 0 0 50px rgba(252, 137, 5, 0.644);
    transform: 0.5s ease;
}


.checkbox{
    font-family: cursive;
    font-size: 16px;
    color: #fa9017;
    display: block;
    position: relative;
    padding-left: 26px;
    padding-top: 5px;
    cursor: pointer;
    text-align: left;
}
a {
    text-decoration: none;
    color: rgb(247, 160, 0);
    
}
a:hover {
    text-decoration: underline;
    transition: ease-in-out;
    color: rgb(121, 72, 0);
}
a:active{
    color: rgba(0, 0, 0, 0.7);
}
textarea {
    outline: none;
    border: none;
}

img{
    width: 500px;
    height: 270px;
    display:block;
    margin: 0 auto;
    margin-bottom: 5px;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.788);
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
/* textarea:focus, input:focus {
    /* border-color: transparent !important; 
} */
/*textarea:focus, input:focus {
    /* border-color: transparent !important; */
